<h1>Overall Results</h1>
<h3>Player 1: <%= @player1_wins %> wins</h3>
<h3>Player 2: <%= @player2_wins %> wins</h3>

<form action="rounds" method="get">
  <input type="text" name="round_id">

  <button type="submit">Submit</button>
</form>
